<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head') %>
  </head>
  <header><%- include('../components/nav') %></header>
  <body>
    <div class="container-fluid">
      <h1>
        Manufacturers
        <small class="text-muted"> List of part manufacturers</small>
      </h1>
      <div id="toolbar">
        <%- include('../components/buttons/addbtn', {id: "addManufacturer"}) %>
        <%- include('../components/buttons/editbtn', {id: "editManufacturer"})
        %> <%- include('../components/buttons/deletebtn', {id:
        "deleteManufacturer"}) %>
      </div>
      <div class="table-responsive-sm">
        <table
          id="manufacturersTable"
          class="table table-dark table-bordered table-hover"
          data-checkbox-header="true"
          data-click-to-select="true"
          data-search="true"
          data-loading-template="loading_template"
          data-toolbar="#toolbar"
        >
          <thead>
            <tr>
              <th data-field="state" data-checkbox="true"></th>
              <th data-field="id" scope="col">ID</th>
              <th data-field="name" scope="col">Manufacturer</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <%- include('../components/modal', {form: 'manufacturers'}) %>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="/js/manufacturers.js"></script>
  </body>
  <%- include('../components/footer') %>
</html>
