<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css"
      rel="stylesheet"
    />
    <%- include('../components/head') %>
  </head>
  <header><%- include('../components/header') %></header>
  <body>
    <div class="container-fluid">
      <h1>
        Suppliers
        <small class="text-muted"> List of part retailers</small>
      </h1>
      <div class="btn-group d-flex add-btn" role="group" aria-label="...">
        <%- include('../components/buttons/addbtn', {id: "addSupplier"}) %> <%-
        include('../components/buttons/deletebtn', {id:"deleteSupplier"}) %>
      </div>
      <div class="table-responsive-sm">
        <table
          id="suppliersTable"
          class="table table-dark table-bordered table-hover"
          data-checkbox-header="false"
          data-click-to-select="true"
        >
          <thead>
            <tr>
              <th data-field="state" data-checkbox="true"></th>
              <th data-field="id" scope="col">ID</th>
              <th data-field="name" scope="col">Supplier</th>
              <th data-field="website" scope="col">Website</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <%- include('../components/modal') %>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/js/suppliers.js"></script>
  </body>
  <footer><%- include('../components/footer') %></footer>
</html>
