<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head') %>
  </head>
  <header><%- include('../components/header') %></header>
  <body>
    <div class="container-fluid">
      <h1>
        Suppliers
        <small class="text-muted"> List of part retailers</small>
      </h1>
      <div class="btn-group d-flex add-btn" role="group" aria-label="...">
        <%- include('../components/buttons/addbtn') %> <%-
        include('../components/buttons/deletebtn') %>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Supplier</th>
              <th scope="col">Website</th>
              <th scope="col">Select</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <%- include('../components/modal') %>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/js/suppliers.js"></script>
  </body>
  <footer><%- include('../components/footer') %></footer>
</html>
